<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head') %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <%- include('./includes/side_drawer') %>
    <main>
      <h1>500</h1>
      <h1>Something went wrong</h1>
      <p>
        Unfortunately, something went wrong on our server. Please try again later.
      </p>
    </main>
  </body>
</html>
